___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [202]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [203]:
print (pd.__version__)

1.4.2

In [ ]:
#я не знайшов як вивести конфігурацію

In [244]:
df = pd.read_csv('Ecommerce Purchases.txt')

In [245]:
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

Скільки рядків і стовпців в наборі даних:

In [206]:
df.shape

(10000, 14)

Перевірити, чи в наборі даних містяться порожні значення:

In [207]:
df.to_numpy()[~df.isnull()]   #виходячи із даного у таблиці відсутні порожні значення

array(['16629 Pace Camp Apt. 448\nAlexisborough, NE 77130-7478', '46 in',
       'PM', ..., '176.119.198.199', 'el', 67.59], dtype=object)

In [208]:
df.isnull()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

Яка середня ціна закупки (Purchase Price):

In [209]:
df1=df[['Purchase Price']]
df1.mean()

Purchase Price    50.347302
dtype: float64

In [210]:
df.describe()   #можна перевірити вивівши основні показники числових стовпців таблиці

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [211]:
df[df['Language'] == 'en']   #По кількості рядків бачимо, що 1098 людей користуються англійською мовою "en"

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,03/22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9961,"714 Joshua Ridges\nCarpenterville, NJ 37418",84 rK,PM,Opera/9.49.(X11; Linux i686; it-IT) Presto/2.9...,White-Wilson,3158062139581601,08/16,723,VISA 13 digit,justin11@porter-smith.info,"Nurse, mental health",40.218.118.68,en,23.96
9963,"3865 Davis Meadow Suite 915\nPort Stacieview, ...",11 fo,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,"Brown, Gentry and White",4295151255424068,07/25,764,JCB 15 digit,zjames@gmail.com,Surgeon,171.24.198.172,en,58.17
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55

In [212]:
len(df[df['Language'] == 'en'])   #можна і через виведення кількості загальної по даним умовам

1098

Скільки людей має посаду «Lawyer»?

In [213]:
len(df[df['Job'] == 'Lawyer'])

30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [214]:
len(df[df['AM or PM'] == 'AM'])

4932

In [215]:
len(df[df['AM or PM'] == 'PM'])

5068

Які 5 найпоширеніших назв вакансій?

In [216]:
df2=df.groupby('Job').count()  #групую по професіям
df2

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,IP Address,Language,Purchase Price
Job,,,,,,,,,,,,,
Academic librarian,11,11,11,11,11,11,11,11,11,11,11,11,11
Accommodation manager,17,17,17,17,17,17,17,17,17,17,17,17,17
"Accountant, chartered",20,20,20,20,20,20,20,20,20,20,20,20,20
"Accountant, chartered certified",18,18,18,18,18,18,18,18,18,18,18,18,18
"Accountant, chartered management",15,15,15,15,15,15,15,15,15,15,15,15,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Water quality scientist,18,18,18,18,18,18,18,18,18,18,18,18,18
Web designer,20,20,20,20,20,20,20,20,20,20,20,20,20
Wellsite geologist,24,24,24,24,24,24,24,24,24,24,24,24,24
Writer,10,10,10,10,10,10,10,10,10,10,10,10,10
Youth worker,18,18,18,18,18,18,18,18,18,18,18,18,18

In [217]:
df['Job'].unique()  #вивів всі назви професій (вакансій я не бачу)

array(['Scientist, product/process development', 'Drilling engineer',
       'Customer service manager', 'Fine artist', 'Fish farm manager',
       'Dancer', 'Event organiser', 'Financial manager',
       'Forensic scientist', 'Development worker, community',
       'Diagnostic radiographer', 'Surveyor, quantity',
       'Accountant, chartered public finance', 'Acupuncturist',
       'Retail manager', 'Therapist, art', 'Designer, jewellery',
       'Photographer', 'Designer, interior/spatial',
       'Public relations officer', 'Presenter, broadcasting',
       'Field seismologist', 'Musician',
       'Training and development officer', "Barrister's clerk",
       'Careers adviser', 'Scientist, research (life sciences)',
       'Recycling officer', 'Fisheries officer', 'Sales executive',
       'Civil Service fast streamer', 'Theatre stage manager',
       'Therapist, music', 'Lecturer, further education',
       'Animal technologist', 'Psychologist, occupational',
       'Music therapist', 'Minerals surveyor',
       'Tourist information centre manager', 'Tax inspector',
       'Buyer, industrial', 'Purchasing manager', 'Heritage manager',
       'Games developer', 'Facilities manager', 'Chemist, analytical',
       'Horticulturist, amenity', 'Mechanical engineer',
       'Clinical research associate', 'Technical author',
       'Radio broadcast assistant', 'Engineer, broadcasting (operations)',
       'Clothing/textile technologist', 'Holiday representative',
       'Housing manager/officer', 'Teacher, special educational needs',
       'Engineer, agricultural', 'Buyer, retail',
       'Doctor, general practice', 'Hotel manager',
       'Engineer, civil (consulting)', 'General practice doctor',
       'Jewellery designer', 'Therapist, speech and language',
       'Operational researcher', 'Graphic designer',
       'Editorial assistant', 'Financial adviser', 'Paramedic',
       'Secretary, company', 'Paediatric nurse',
       'Data processing manager', 'Print production planner',
       'Engineer, materials', 'Economist', 'Designer, furniture',
       'Human resources officer', 'Administrator',
       'Teacher, secondary school', 'Video editor',
       'Chartered certified accountant',
       'Teacher, English as a foreign language', 'Airline pilot',
       'Engineer, land', 'Legal secretary', 'Administrator, arts',
       'Dealer', 'Town planner', 'Travel agency manager',
       'Engineer, water', 'Lecturer, higher education',
       'Higher education careers adviser', 'Intelligence analyst',
       'Technical sales engineer', 'Dietitian',
       'International aid/development worker',
       'Learning disability nurse', 'Geneticist, molecular',
       'Optometrist', 'Building surveyor', 'Sports therapist',
       'Geophysical data processor', 'Multimedia programmer',
       'Research scientist (maths)', 'Social worker', 'Camera operator',
       'Interpreter', 'Furniture designer', 'Commercial horticulturist',
       'Surgeon', 'Psychotherapist, dance movement',
       'Information systems manager', 'Music tutor',
       'Merchandiser, retail', 'Insurance risk surveyor',
       'Armed forces operational officer', 'Homeopath',
       'Animal nutritionist', 'Tourism officer', 'Cabin crew',
       'Psychiatric nurse', 'Magazine features editor',
       'Chartered management accountant', 'Market researcher',
       'Mudlogger', 'Textile designer', 'Restaurant manager, fast food',
       'Medical laboratory scientific officer',
       'Chartered public finance accountant', 'Financial trader',
       'Scientist, marine', 'Environmental manager',
       'Community education officer', 'Solicitor',
       'Psychologist, clinical', 'Occupational therapist',
       'Retail merchandiser', 'Mental health nurse', 'Ophthalmologist',
       'Insurance underwriter', 'Engineer, aeronautical',
       'Chartered accountant', 'Environmental health practitioner',
       'Research scientist (life sciences)', 'Wellsite geologist',
       'Product designer', 'Armed forces technical officer',
       'Television/film/video producer', 'Water quality scientist',
       'Furniture conservator/restorer', 'Radio producer',
       'Programmer, multimedia', 'Scientist, biomedical',
       'Psychologist, sport and exercise', 'Merchant navy officer',
       'Designer, television/film set', 'Engineering geologist',
       'Health and safety inspector', 'Naval architect', 'Chiropodist',
       'Engineer, chemical', 'Scientist, research (medical)',
       'Personal assistant', 'Retail banker',
       'Advertising account planner', 'Art therapist',
       'Forest/woodland manager', 'Research scientist (medical)',
       'Scientific laboratory technician', 'Licensed conveyancer',
       'Engineer, building services', 'Energy engineer', 'Teacher, music',
       'Oncologist', 'Brewing technologist', 'Community arts worker',
       'Therapist, drama', 'Water engineer', 'Software engineer',
       'Geochemist', 'Designer, industrial/product',
       'Nature conservation officer',
       'Production designer, theatre/television/film',
       'Commercial art gallery manager', 'Exhibition designer',
       'Education officer, environmental',
       'Runner, broadcasting/film/video', 'Pharmacist, hospital',
       'Doctor, hospital', 'Teacher, adult education', 'Sub',
       'Podiatrist', 'Air broker', 'Engineer, civil (contracting)',
       'Lexicographer', 'Speech and language therapist',
       'Catering manager', 'Colour technologist', 'Surveyor, building',
       'Agricultural consultant', 'Horticultural therapist',
       'Pension scheme manager', 'Theatre manager', 'Producer, radio',
       'Scientist, forensic', 'Surveyor, insurance',
       'Hospital pharmacist', 'Surveyor, rural practice',
       'Industrial/product designer', 'Corporate treasurer',
       'Structural engineer', 'Research officer, trade union',
       'Pensions consultant', 'Secretary/administrator', 'Firefighter',
       'Database administrator', 'Health promotion specialist',
       'Operations geologist', 'Regulatory affairs officer',
       'Production assistant, radio', 'Press sub',
       'Education administrator', 'Biomedical scientist', 'Tour manager',
       'Midwife', 'Television floor manager', 'Mining engineer',
       'Interior and spatial designer', 'Engineer, energy',
       'Publishing rights manager', 'Manufacturing systems engineer',
       'Designer, exhibition/display',
       'Control and instrumentation engineer', 'Ergonomist',
       'Scientist, research (maths)', 'Psychologist, forensic',
       'Clinical scientist, histocompatibility and immunogenetics',
       'Accommodation manager', 'Administrator, sports',
       'Sports development officer', 'Educational psychologist',
       'Social research officer, government', 'Quarry manager',
       'Medical sales representative', 'Consulting civil engineer',
       'Trade union research officer', 'Financial planner',
       'Futures trader', 'Medical illustrator', 'Engineer, structural',
       'Transport planner', 'Special educational needs teacher',
       'Chiropractor', 'Therapist, sports',
       'Scientist, research (physical sciences)', 'Site engineer',
       'Psychologist, counselling', 'Bonds trader', 'Banker',
       'Proofreader', 'Social researcher', 'Analytical chemist',
       'Dramatherapist', 'Editor, commissioning', 'Sports administrator',
       'Sport and exercise psychologist', 'Garment/textile technologist',
       'Engineer, maintenance (IT)', 'Surveyor, building control',
       'Media planner', 'Statistician', 'Food technologist',
       'Chartered loss adjuster', 'Petroleum engineer',
       'Engineer, maintenance', 'Television camera operator',
       'Geoscientist', 'Printmaker', 'Artist', 'Hospital doctor',
       'Systems analyst', 'Radiographer, therapeutic',
       'Freight forwarder', 'Call centre manager', 'Theatre director',
       'Occupational psychologist', 'Communications engineer',
       'Land/geomatics surveyor', 'Advertising account executive',
       'Civil engineer, consulting', 'Medical secretary',
       'IT technical support officer', 'Advice worker',
       'Visual merchandiser', 'Nurse, mental health',
       'Further education lecturer', 'Investment banker, corporate',
       'Bookseller', 'Engineer, production', 'Health visitor',
       'Archivist', 'Recruitment consultant',
       'Conservator, museum/gallery', 'Translator', 'Youth worker',
       'Operational investment banker',
       'Radiation protection practitioner',
       'Research officer, political party', 'Make',
       'Horticulturist, commercial', 'Surveyor, hydrographic',
       'Engineer, communications', 'Surveyor, minerals', 'Hydrologist',
       'Race relations officer', 'Quantity surveyor',
       'Geologist, wellsite', 'Museum/gallery conservator',
       'Community pharmacist', 'Adult guidance worker',
       'Building control surveyor', 'Museum/gallery exhibitions officer',
       'Ambulance person', 'Probation officer', 'Orthoptist',
       'Charity officer', 'Risk analyst', 'Best boy',
       'Arts administrator',
       'Lighting technician, broadcasting/film/video',
       'Engineer, drilling', 'Engineer, control and instrumentation',
       'Medical physicist', 'Dispensing optician',
       'Management consultant', 'Commercial/residential surveyor',
       'English as a foreign language teacher', 'Engineer, site',
       'Automotive engineer', 'Air traffic controller', 'Lawyer',
       'Contracting civil engineer', 'Psychotherapist, child',
       'Maintenance engineer', 'Science writer',
       'Administrator, education', 'Administrator, Civil Service',
       'Estate manager/land agent', 'Company secretary',
       'Therapist, horticultural', 'Broadcast engineer',
       'Sound technician, broadcasting/film/video',
       'Private music teacher', 'Engineer, manufacturing',
       'Emergency planning/management officer', 'Risk manager',
       'IT consultant', 'Geographical information systems officer',
       'Equities trader', 'Immigration officer',
       'Therapeutic radiographer', 'Curator', 'Child psychotherapist',
       'Advertising art director', 'Forensic psychologist',
       'Hydrographic surveyor', 'Immunologist', 'Sports coach',
       'Haematologist', 'Waste management officer',
       'Conservator, furniture', 'Research officer, government',
       'Agricultural engineer', 'IT sales professional',
       'Armed forces logistics/support/administrative officer',
       'Field trials officer', 'Psychotherapist', 'Air cabin crew',
       'Psychiatrist', 'Illustrator', 'Marine scientist',
       'Multimedia specialist', 'Cytogeneticist',
       'Occupational hygienist', 'Charity fundraiser',
       'Planning and development surveyor', 'Counselling psychologist',
       'Physicist, medical', 'TEFL teacher',
       'Research scientist (physical sciences)', 'Fashion designer',
       'Engineer, petroleum', 'Tree surgeon',
       'Corporate investment banker', 'Public house manager',
       'Designer, textile', 'Public librarian',
       'Arts development officer', 'Actor', 'Hydrogeologist',
       'Production assistant, television', 'Embryologist, clinical',
       'Press photographer', 'Marketing executive',
       'Television production assistant', 'Early years teacher',
       'Landscape architect', 'Librarian, academic', 'Web designer',
       'Health service manager', 'Clinical psychologist',
       'Exercise physiologist', 'Electrical engineer',
       'Psychologist, prison and probation services',
       'Journalist, magazine', 'Dance movement psychotherapist',
       'Animator', 'Legal executive', 'Plant breeder/geneticist',
       'Manufacturing engineer', 'Microbiologist', 'Biochemist, clinical',
       'Broadcast presenter', 'Ranger/warden',
       'Programme researcher, broadcasting/film/video', 'Dentist',
       'Aid worker', 'Publishing copy', 'Environmental education officer',
       'Librarian, public', 'Phytotherapist', 'Nurse, adult',
       'Programmer, systems', 'Scientist, physiological',
       'Secondary school teacher', 'Media buyer', 'Trade mark attorney',
       'Editor, film/video', 'Careers information officer',
       'Retail buyer', 'Ship broker', 'Lobbyist', 'Location manager',
       'Surveyor, mining', 'Systems developer', 'Optician, dispensing',
       'Chemical engineer', 'Oceanographer', 'Patent attorney',
       'Passenger transport manager', 'Glass blower/designer',
       'Psychologist, educational', 'Education officer, museum',
       'Patent examiner', 'Logistics and distribution manager',
       'Trading standards officer', 'Seismic interpreter',
       'Local government officer', 'Clinical cytogeneticist',
       'Biomedical engineer', 'Diplomatic Services operational officer',
       'Land', 'Surveyor, planning and development', 'Farm manager',
       'Claims inspector/assessor', 'Warden/ranger',
       'Civil engineer, contracting', 'Clinical molecular geneticist',
       'Surveyor, land/geomatics', 'Therapist, nutritional',
       'Historic buildings inspector/conservation officer',
       'English as a second language teacher', 'Materials engineer',
       'Insurance broker', 'Ecologist', 'Production manager',
       'Veterinary surgeon', 'Pilot, airline', "Nurse, children's",
       'Astronomer', 'Architect', 'Conservation officer, nature',
       'Personnel officer', 'Network engineer', 'Investment analyst',
       'Writer', 'Designer, fashion/clothing', 'Theme park manager',
       'Engineer, electrical', 'Art gallery manager', 'Office manager',
       'Pharmacologist', 'Meteorologist', 'Estate agent',
       "Politician's assistant", 'Environmental consultant', 'Osteopath',
       'Amenity horticulturist', 'Physiological scientist',
       'Public relations account executive',
       'Senior tax professional/tax inspector', 'Arboriculturist',
       'Radiographer, diagnostic', 'Engineer, automotive',
       'Editor, magazine features', 'Sales professional, IT',
       'Commissioning editor', 'Ceramics designer',
       'Scientist, clinical (histocompatibility and immunogenetics)',
       'Geologist, engineering', 'Designer, multimedia',
       'Engineer, manufacturing systems', 'Clinical embryologist',
       'Medical technical officer', 'Teacher, primary school',
       'Set designer', 'Producer, television/film/video',
       'Education officer, community',
       'Conservation officer, historic buildings',
       'Insurance account manager', 'Financial controller',
       'Film/video editor', 'Museum/gallery curator',
       'Accounting technician', 'Stage manager', 'Physiotherapist',
       'Sales promotion account executive', 'Horticultural consultant',
       'Journalist, broadcasting', 'Health and safety adviser',
       'Building services engineer',
       'Product/process development scientist', 'Metallurgist',
       'Audiological scientist', 'Designer, blown glass/stained glass',
       'Tax adviser', 'Industrial buyer',
       'Government social research officer',
       'Outdoor activities/education manager', 'Solicitor, Scotland',
       'Conference centre manager', 'Health physicist',
       'Pharmacist, community', 'Applications developer',
       'Public affairs consultant', 'Prison officer',
       'Production engineer', 'Actuary', 'Museum education officer',
       'Fitness centre manager', 'Records manager',
       'Journalist, newspaper', 'Computer games developer',
       'Toxicologist', 'Counsellor', 'Therapist, occupational',
       'Accountant, chartered certified', 'Insurance claims handler',
       'Programmer, applications', 'Accountant, chartered management',
       'Broadcast journalist', 'Energy manager', 'Barrister',
       'Scientist, audiological', 'Designer, graphic', 'Cartographer',
       'Community development worker', 'Engineer, mining',
       'Special effects artist', 'Gaffer', 'Civil Service administrator',
       'Armed forces training and education officer', 'Quality manager',
       'Engineer, electronics', 'Development worker, international aid',
       'Restaurant manager', 'Architectural technologist',
       'Academic librarian', 'Fast food restaurant manager',
       'Rural practice surveyor', 'Designer, ceramics/pottery',
       'Police officer', 'Soil scientist', 'Technical brewer',
       'Administrator, local government', 'Copywriter, advertising',
       'Volunteer coordinator', 'Magazine journalist',
       'Information officer', 'Copy', 'Advertising copywriter',
       'Engineer, biomedical', 'Nurse, learning disability',
       'Aeronautical engineer', 'Archaeologist', 'IT trainer',
       'Clinical biochemist',
       'Administrator, charities/voluntary organisations', 'Pathologist',
       'Geophysicist/field seismologist',
       'Investment banker, operational', 'Teacher, early years/pre',
       'Electronics engineer', 'Exhibitions officer, museum/gallery',
       'Nutritional therapist', 'Teaching laboratory technician',
       'Herbalist', 'Leisure centre manager', 'Higher education lecturer',
       'Newspaper journalist', 'Accountant, chartered',
       'Loss adjuster, chartered', 'Surveyor, commercial/residential',
       'Warehouse manager', 'Scientist, water quality',
       'Primary school teacher',
       'Chartered legal executive (England and Wales)',
       'Telecommunications researcher', 'Equality and diversity officer',
       'Learning mentor', 'Financial risk analyst',
       'Engineer, technical sales', 'Adult nurse'], dtype=object)

In [218]:
df['Job'].value_counts()   #перші 5 є найпоширенішими

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
                                 ..
Prison officer                    7
Editor, film/video                6
Actuary                           6
Information systems manager       5
Investment analyst                5
Name: Job, Length: 623, dtype: int64

In [219]:
df3=df['Job'].value_counts()
df3[:5]

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

Хто здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [220]:
df[(df['Lot'] == '90 Wt') ]   #запитуванна інформація в таблиці відсутня

Empty DataFrame
Columns: [Address, Lot, AM or PM, Browser Info, Company, Credit Card, CC Exp Date, CC Security Code, CC Provider, Email, Job, IP Address, Language, Purchase Price]
Index: []

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [221]:
df3=df[df['Credit Card'] == 4926535242672853] 
df3

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1234,"2470 Maria Manors Suite 185\nJoneshaven, MN 87251",82 UX,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,"Cole, King and Bowers",4926535242672853,09/21,188,American Express,bondellen@williams-garza.com,Planning and development surveyor,159.182.3.50,ru,77.88

In [222]:
df3['Email']  #виводжу емеіл особи із номер необхідної кредитиної картки

1234    bondellen@williams-garza.com
Name: Email, dtype: object

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [223]:
df[(df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 100)]   #запитуванна інформація в таблиці відсутня

Empty DataFrame
Columns: [Address, Lot, AM or PM, Browser Info, Company, Credit Card, CC Exp Date, CC Security Code, CC Provider, Email, Job, IP Address, Language, Purchase Price]
Index: []

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [224]:
df[(df['CC Exp Date'] >= 1/25) & (df['CC Exp Date'] <= 12/25)]  #щось я не вірно в умові вказав

TypeError: '>=' not supported between instances of 'str' and 'float'

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [246]:
df.groupby('Email').count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Job,IP Address,Language,Purchase Price
Email,,,,,,,,,,,,,
aabbott@hotmail.com,1,1,1,1,1,1,1,1,1,1,1,1,1
aacosta@maddox-mann.info,1,1,1,1,1,1,1,1,1,1,1,1,1
aallen@yahoo.com,1,1,1,1,1,1,1,1,1,1,1,1,1
aalvarez@yahoo.com,1,1,1,1,1,1,1,1,1,1,1,1,1
aandersen@gmail.com,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
zwhite@nichols-willis.com,1,1,1,1,1,1,1,1,1,1,1,1,1
zwilson@yahoo.com,1,1,1,1,1,1,1,1,1,1,1,1,1
zwright@suarez.biz,1,1,1,1,1,1,1,1,1,1,1,1,1
zyork@fischer-harrison.com,1,1,1,1,1,1,1,1,1,1,1,1,1
zyoung@yahoo.com,1,1,1,1,1,1,1,1,1,1,1,1,1

In [226]:
df['Email'].value_counts()  

#df['Email'].find('@')
#Я не розумію, як з назви електронної пошти можна виокремити gmail.com, yahoo.com тощо. Підскажіть будб-ласка

leekathy@yahoo.com           2
joshua41@hotmail.com         2
christopher29@gmail.com      2
ethomas@hotmail.com          2
brownjohn@hotmail.com        2
                            ..
jamesbarnett@gomez.org       1
hernandezrobert@frank.com    1
lindseywilliams@pratt.com    1
ann28@hotmail.com            1
rachelford@vaughn.com        1
Name: Email, Length: 9954, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [227]:
df5=df[['Browser Info', 'Job', 'Lot']]  #Lot - це кількість транзакцій, якщо я правильно зрозумів
df5

,Browser Info,Job,Lot
0,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,"Scientist, product/process development",46 in
1,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,Drilling engineer,28 rn
2,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Customer service manager,94 vE
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,Drilling engineer,36 vm
4,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,Fine artist,20 IE
...,...,...,...
9995,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Printmaker,92 XI
9996,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,Energy engineer,41 JY
9997,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Veterinary surgeon,74 Zh
9998,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Local government officer,74 cL
9999,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,"Embryologist, clinical",64 Hr

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

In [247]:
actual_price = []
for el in df['Purchase Price'].tolist():
    if el >50:
        actual_price.append (el*1.2)
    elif el >100:
        actual_price.append (el*1.1)
    else:
        actual_price.append (el*1.3)
df['Actual price'] = actual_price
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,117.768
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,84.876
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,1.235
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,93.648
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,93.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21,98.652
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,33.319
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,100.776
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,50.492
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59,81.108

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [248]:
df_1_1 = df['Language'].rank(method = 'max', na_option = 'keep', ascending=False)
df_1_1

0        8845.0
1        5515.0
2       10000.0
3        6610.0
4        6610.0
         ...
9995     4418.0
9996     3332.0
9997     8845.0
9998     6610.0
9999     8845.0
Name: Language, Length: 10000, dtype: float64

In [249]:
df_1_2 = df['Actual price'].rank(method = 'max', na_option = 'keep', ascending=False, pct=False)
df_1_2

0        192.0
1       2989.0
2       9895.0
3       2257.0
4       2280.0
         ...
9995    1853.0
9996    7451.0
9997    1659.0
9998    6127.0
9999    3294.0
Name: Actual price, Length: 10000, dtype: float64

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [255]:
#Я не знаю як закодувати , утворити індикаторні колонки
df_1_3=df.drop(['Language'], axis = 1)  #видаляю колонку (Language)
df_1_3

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price,Actual price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,98.14,117.768
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,70.73,84.876
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,0.95,1.235
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,78.04,93.648
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,77.82,93.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,82.21,98.652
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,25.63,33.319
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,83.98,100.776
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,38.84,50.492
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,67.59,81.108

Кінцевий набір даних збережіть у файл з розширенням csv.

In [257]:
df.to_csv('Ecommerce_Purchases_new.csv')